.nav {
    /* display: flex;
    justify-content: flex-end; */
    padding-right: 34px;
    padding-top: 3px;
}

.link:hover {
    color: orange;
}

.link {
    color: #555;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}